<%= render 'shared/header' %>

<%#----- 作品ページメイン -----%>
<div class="works-main">
  <div class="works-top">
    <div class="works-left"> 
      <div class="works-text animate__animated animate__zoomIn">
        <p>成果物</p>
        <p>作成した<span>アプリ</span>や<span>Webページ</span>たちです</p><br>
        <p>まだまだ数少ないですが...</p><br>
        <p>随時、新作企画＆開発中！</p>
        <p>また随時、追加実装中！</p><br>
        <p>技術も知識も 少しずつ</p>
        <p>積み重ねて日々 進化中</p>
      </div>
    </div>
    <div class="works-right">
      <nav class="language-genre animate__animated animate__fadeInUp">
        <p>言語など</p>
        <div class="language">
          <ul class="language-left">  
            <li>HTML</li>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
          </ul>
          <ul class="language-right">  
            <li>CSS</li>
            <li>JavaScript</li>
            <li></li>
          </ul>
        </div>
      </nav>
      <nav class="language-genre others animate__animated animate__fadeInUp">
        <p>その他</p>
        <div class="language">
          <ul class="language-left">  
            <li>MySQL</li>
            <li>Git hub</li>
            <li>AWS S3</li>
          </ul>
          <ul class="language-right">  
            <li>Git</li>
            <li>Heroku</li>
            <li>AWS EC2</li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="works-content" id="works">
    <div class="works-box">
      <div class="works-image">
        <%= image_tag "shiori_image.png", class: "work-image" %>
      </div>
      <div class="works-title">
        <h3>Shiori</h3>
      </div>
      <div class="works-description">
        <p>本の一節を引用し</p>
        <p>あなたの意見や感想も投稿できるアプリ</p>
        <p>ユーザー同志の交流やアウトプット</p>
        <p>またマイページにはあなたの投稿一覧が</p>
        <p>つまりあなたが気になった</p>
        <p>本の中身が詰まったライブラリ!!</p>
      </div>
      <%= link_to "Shioriのページへ", "https://shiori-210429.herokuapp.com/", target: :_blank, rel: "noopener noreferrer", class:"link-page" %>
    </div>
    <div class="works-box">
      <div class="works-image">
        <%= image_tag "reserve_app.png", class: "work-image" %>
      </div>
      <div class="works-title">
        <h3>Reserve-App</h3>
      </div>
      <div class="works-description">
        <p>予約機能アプリ</p>
        <p>練習がてらの簡単な作りです</p>
        <p>予約の可否を○Xで表示</p>
        <p>ユーザー登録したら予約入力が楽に</p>
      </div>
      <%= link_to "Reserve-Appのページへ", "https://reserve-app0821.herokuapp.com/", target: :_blank, rel: "noopener noreferrer", class:"link-page" %>
    </div>
    <div class="works-box">
      <div class="works-image">
        <%= image_tag "portforio_image.png", class: "work-image" %>
      </div>
      <div class="works-title">
        <h3>ShotaroArai's Portfolio</h3>
      </div>
      <div class="works-description">
        <p>こちらのサイト</p>
        <p>マスコットキャラは『SAくん』</p>
        <p>荒井の分身のようなものです</p>
      </div>
    </div>
  </div>
</div>